.forceCentered{
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    padding-bottom: 10px;
    .textBox{
      border-radius: 5000px;
      padding-left: 12px;
      padding-right: 12px;
    }
    .birthBox{
      width: 100%;
      border-radius: 5000px;
    }
    .btn{
      margin-top: 8px;
    }
  }
}
